@media (max-width: 992px) {
    /* body{
    margin-bottom: 400px;
} */
    /* halaman pertama */
    #header .navbar-expand-lg {
        background: #628BFC;
    }
    #header .nav-link,
    #headerlayanankami .nav-link {
        font-family: 'Montserrat';
        font-weight: bold;
        margin-right: 20px;
        /* color: white; */
    }
    #header .nav-link:hover::after,
    #headerlayanankami .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 2px white solid;
        width: 30px;
        margin-left: 20px;
        /* margin: auto; */
        padding-bottom: 5px;
        margin-bottom: -7px;
    }
    #banner {
        background-color: #628BFC;
        color: white;
        width: 100%;
        height: auto;
        padding-top: 25px;
        text-align: center;
    }
    #banner h1,
    #bannerlayanankami h1 {
        font-family: 'Raleway';
        font-size: 35px;
        font-weight: bold;
    }
    #banner p,
    #bannerlayanankami p {
        font-family: 'Montserrat';
        font-size: 15px;
    }
    #banner .btn-outline-light {
        width: 201px;
        height: auto;
    }
    /* untuk aksi berubah warna button */
    #banner .btn-outline-light:hover {
        width: 201px;
        height: auto;
        background: white;
    }
    #banner .img-banner {
        width: 300px;
        height: auto;
        padding-top: 30px;
    }
    #banner .visual1 {
        width: 100%;
        height: auto;
        padding-top: 85px;
    }
    #ongkir {
        /* untuk menaikkan keatas dibagian visual */
        margin-top: -110px;
    }
    #ongkir h1 {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
    }
    #ongkir p {
        font-family: 'Montserrat';
        font-size: 15px;
    }
    #ongkir .form-control,
    #formyes .form-control {
        font-family: 'Montserrat';
        font-size: 15px;
    }
    #ongkir .btn-outline-warning {
        width: 155px;
        height: auto;
        color: #F8A70F;
    }
    /* untuk aksi berubah warna button */
    #ongkir .btn-outline-warning:hover {
        width: 155px;
        height: auto;
        color: white;
        background: rgb(148, 122, 122);
    }
    #ongkir .btn-warning,
    #kerjasama .btn-warning,
    #timbangan .btn-warning,
    #pengiriman .btn-warning,
    #Pickup .btn-warning,
    #ratings .btn-warning,
    #yesdanreg .btn-warning {
        width: 155px;
        height: auto;
        color: white;
        background: #F8A70F;
    }
    /* untuk aksi berubah warna button */
    #ongkir .btn-warning:hover,
    #kerjasama .btn-warning:hover,
    #timbangan .btn-warning:hover,
    #pengiriman .btn-warning:hover,
    #Pickup .btn-warning:hover,
    #ratings .btn-warning:hover,
    #yesdanreg .btn-warning:hover {
        width: 155px;
        height: auto;
        color: white;
        background: #F8A70F;
        background: rgb(148, 122, 122);
    }
    #ongkir .img-delivery {
        width: 339.8px;
        height: auto;
    }
    #ongkir .bg-ongkir {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
        padding: 50px;
    }
    #kerjasama,
    #pengiriman {
        background-color: #F2F1F1;
        width: 100%;
        height: auto;
        margin-top: 85px;
        padding: 70px;
        text-align: center;
    }
    #kerjasama h1,
    #timbangan h1,
    #pengiriman h1,
    #Pickup h1 {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 25px;
        padding-top: 85px;
    }
    #kerjasama p,
    #timbangan p,
    #pengiriman p,
    #Pickup p {
        font-family: 'Montserrat';
        font-weight: normal;
        line-height: 20px;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #kerjasama .img-work,
    #timbangan .img-timbangan,
    #pengiriman .img-pengiriman,
    #Pickup .img-Pickup {
        width: 300px;
        height: auto;
        padding-top: 40px;
    }
    #timbangan,
    #Pickup {
        margin-top: 30px;
        padding: 100px;
        text-align: center;
    }
    #ekspedisi {
        /* background: linear-gradient(89.42deg, #6C85C9 2.64%, #82D0E5 44.77%); */
        /* untuk gradien
    background: linear-gradient(to top, #6C85C9, yellow, green); */
        width: 100%;
        height: 700px;
        background-image: url(../Assets/img/bg-ekpedisi.png);
    }
    #ekspedisi h1 {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
    }
    #ekspedisi .btn-outline-light {
        width: 200px;
        height: auto;
        color: white;
        margin-top: 25px;
    }
    #ekspedisi .btn-outline-light:hover {
        color: black;
        width: 200px;
        height: auto;
    }
    #ekspedisi .text-ekspedisi {
        padding: 100px;
        margin-top: 80px;
    }
    #ratings .bg-ratings {
        margin-top: 20px;
        width: 100%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 50px;
    }
    #ratings {
        margin-top: 85px;
        text-align: center;
    }
    #ratings .content-rating {
        margin-top: 85px;
    }
    #ratings .bg-ratings h1 {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 80px;
    }
    #footer {
        text-align: center;
        margin-top: 100px;
        background: #292525;
        color: white;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #footer h1 {
        font-family: 'Montserrat';
        font-weight: bold;
        line-height: 35px;
        font-size: 20px;
    }
    /*akhir halaman pertama */
    /* halaman kedua */
    #headerlayanankami .navbar-expand-lg {
        background: #F8A70F;
    }
    #bannerlayanankami {
        background-color: #F8A70F;
        color: white;
        width: 100%;
        height: auto;
        padding-top: 30px;
        text-align: center;
    }
    #bannerlayanankami .img-banner {
        padding-top: 20px;
        width: 420px;
        height: auto;
    }
    #yesdanreg {
        width: 100%;
        height: auto;
        padding-bottom: 85px;
        background: rgba(236, 235, 235, 0.7);
    }
    #yesdanreg .bg-yes {
        height: auto;
        width: 100%;
        margin-top: 60px;
        background: #FFFFFF;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 50px;
    }
    #yesdanreg h1 {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 15px;
        padding-top: 5px;
    }
    #yesdanreg p {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 10px;
        padding-top: 30px;
        padding-bottom: 25px;
    }
    #yesdanreg .img-yes {
        width: 110px;
        height: auto;
        padding-bottom: 5px;
    }
    #gambarlayanan .img-gambar {
        height: 300px;
        width: auto;
        margin-top: 85px;
        z-index: -1;
        position: relative;
    }
    #footerlayanankami {
        text-align: center;
        background: #292525;
        color: white;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: -170px;
        /* position: absolute; */
    }
    #footerlayanankami h1 {
        font-family: 'Montserrat';
        font-weight: bold;
        line-height: 35px;
        font-size: 20px;
    }
    /* akhir halaman kedua */
    /* Halaman yes */
    #formyes {
        margin-top: 50px;
    }
    #formyes h1 {
        font-family: 'Raleway';
        font-size: 25px;
    }
    #formyes p {
        font-family: 'Montserrat';
        font-size: 15px;
    }
    #formyes .bg-yes {
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
    }
    #formyes .btn-outline-warning {
        width: 170px;
        height: auto;
        color: #F8A70F;
    }
    /* untuk aksi berubah warna button */
    #formyes .btn-outline-warning:hover {
        width: 170px;
        height: auto;
        color: white;
        background: rgb(148, 122, 122);
    }
    #formyes .btn-warning {
        width: 170px;
        height: auto;
        color: white;
        background: #F8A70F;
    }
    /* untuk aksi berubah warna button */
    #formyes .btn-warning:hover {
        width: 170px;
        height: auto;
        color: white;
        background: #F8A70F;
        background: rgb(148, 122, 122);
    }
    /* akhir Halaman yes */
    /* halaman informasi */
    #informasi {
        margin-top: 50px;
    }
    #informasi .bg-informasi {
        padding: 150px;
        background: #E7E7E7;
        border-radius: 0px;
    }
    #informasi .img-informasi {
        height: 113px;
        width: auto;
    }
    /* akhir halaman informasi */
    #contact-us {
        margin-top: 85px;
    }
}